        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a href=@Url.Action("MyAction", "MyController") class="nav-link active"><span class="fas fa-clipboard"></span> Create Test</a>
            </li>
            <li class="nav-item">
                <a href=@Url.Action("MyAction", "MyController") class="nav-link"><span class="fas fa-archive"></span> Your Tests</a>
            </li>
            <li class="nav-item">
                <a href=@Url.Action("MyAction", "MyController") class="nav-link"><span class="fas fa-question"></span> Questions</a>
            </li>
            <li class="nav-item">
                <a href=@Url.Action("MyAction", "MyController") class="nav-link"><span class="far fa-user"></span> Account</a>
            </li>
        </ul>

