@using Microsoft.AspNet.Identity



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", null, new { @class = "nav-link btn btn-outline-secondary mr-1" })
            </li>
            <li class="nav-item"><button type="submit" class="nav-link btn btn-outline-secondary"><span class="fas fa-power-off"></span></button></li>
        </ul>
    }
}
else
{
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link btn btn-sm btn-outline-secondary m-2" })</li>
            <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link btn btn-sm btn-outline-secondary m-2" })</li>
        </ul>
}

